*{
  margin:0;
}
.app{
  display:flex;
  flex-direction:column;

}
.app>h1{
  text-align:center;
  background-color:rgba(59, 4, 122, 0.493);
  padding:10px;
  color:white;

}
.container{
  /* background-color:gray; */
  background:url("https://img.favpng.com/19/23/16/white-chessboard-black-pattern-png-favpng-7MFsQvV9G4M9AiPdxp1K1LWVZ.jpg");
  background-size: contain;
  /* background-repeat:no-repeat; */
  display:flex;
  align-items:center;
  height:40vh;
  border:2px solid red;
  border-radius: 32px 32px 0px 0px;
  overflow-y:hidden;
  overflow-x:scroll;
  margin-left:5vw;
  margin-right:5vw;
  object-fit:cover;
  margin-top:10vh;
  padding:5px; 
}

